/* Color Theme Swatches in Hex */
/*-- FONDO ANIMADO--*/
@-webkit-keyframes fondoAnimado {
  0% {
    opacity: 1;
  }
  20% {
    opacity: 1;
  }
  30% {
    opacity: 0%;
  }
  90% {
    opacity: 0%;
  }
  100% {
    opacity: 1;
  }
}
@keyframes fondoAnimado {
  0% {
    opacity: 1;
  }
  20% {
    opacity: 1;
  }
  30% {
    opacity: 0%;
  }
  90% {
    opacity: 0%;
  }
  100% {
    opacity: 1;
  }
}
/* Color Theme Swatches in Hex */
/* Color Theme Swatches in Hex */
.ProductList {
  position: relative;
  margin-top: 10px;
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
}
@media (max-width: 576px) {
  .ProductList {
    align-items: center;
  }
}
@media (max-width: 768px) {
  .ProductList {
    align-items: center;
  }
}

.ProductSlider {
  position: relative;
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}
@media (max-width: 576px) {
  .ProductSlider {
    align-items: center;
  }
}
@media (max-width: 768px) {
  .ProductSlider {
    align-items: center;
  }
}

/* .Slide {
    position: relative;
    left: 0;
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    opacity: 0;

    @media (max-width: 768px) {
        top: 1 vh;
    }
} */
.ProductList {
  width: 100%;
  height: 88%;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-flow: row wrap;
  overflow-x: auto;
}

.SearchBar {
  position: relative;
  border-radius: 5%;
  margin-top: 5px;
  margin-bottom: 5px;
  z-index: 2;
  width: 100%;
}
.SearchBar h1 {
  font-size: 1.5em;
  text-align: center;
  color: #F2F2F2;
  padding: 10px;
}
.SearchBar input {
  width: 98%;
  height: 2vh;
  background-color: rgba(13, 38, 29, 0.4);
  color: #fff;
  padding-left: 5px;
  outline: none;
  border-radius: 5px;
}
.SearchBar input::-moz-placeholder {
  color: #fff;
  text-align: center;
}
.SearchBar input:-ms-input-placeholder {
  color: #fff;
  text-align: center;
}
.SearchBar input::placeholder {
  color: #fff;
  text-align: center;
}

.slide {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  opacity: 0;
}

.slide.active {
  opacity: 1;
  transition: all 0.5s ease-in-out;
}

.Card {
  width: 90%;
  margin-top: 10px;
  margin-bottom: 10px;
  border-radius: 10px;
  box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 0.75);
  align-items: center;
  justify-content: space-evenly;
  background-color: #313C40a3;
  position: relative;
}
@media (max-width: 576px) {
  .Card {
    flex-flow: column;
    /* display: box; */
  }
}
@media (max-width: 768px) {
  .Card {
    flex-flow: column;
    /* display: box; */
  }
}
@media (max-height: 700px) {
  .Card {
    min-height: 58vh;
  }
}

.CardSmall {
  height: 350px;
  width: 400px;
  margin: 10px;
  border-radius: 10px;
  background-color: #313C40a3;
  border: none;
  box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 0.75);
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
}
.CardSmall div {
  display: flex;
  flex-basis: calc(33.33% - 10px);
  justify-content: center;
  flex-direction: column;
  text-align: center;
  align-items: center;
}
.CardSmall div:first-child {
  display: flex;
  flex-basis: calc(100% - 1px);
  justify-content: center;
  flex-direction: column;
}
.CardSmall div > div {
  display: flex;
  justify-content: center;
  flex-direction: row;
}

.Card2Small {
  height: 350px;
  width: 400px;
}

.Card2Medium {
  height: 350px;
  width: 600px;
}

.Card2 {
  height: 350px;
  margin: 10px;
  border-radius: 10px;
  background-color: #313C40a3;
  border: none;
  box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 0.75);
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
}
.Card2 div {
  display: flex;
  flex-basis: calc(33.33% - 10px);
  justify-content: center;
  flex-direction: column;
  text-align: center;
  align-items: center;
}
.Card2 div:first-child {
  display: flex;
  flex-basis: calc(100% - 1px);
  justify-content: center;
  flex-direction: column;
}
.Card2 div > div {
  display: flex;
  justify-content: center;
  flex-direction: row;
}

.CardBody {
  height: auto;
  flex-direction: column;
  flex: 1 6 80%;
  margin: 5px;
}
.CardBody p {
  color: #080b0da3;
}
.CardBody span {
  color: #A6A37B;
}
@media (max-width: 576px) {
  .CardBody {
    flex-flow: column;
    display: block;
    background-color: #313C40;
  }
}
@media (max-width: 768px) {
  .CardBody {
    flex-flow: column;
    display: block;
    background-color: #313C40;
  }
}

.CardBodySlide {
  width: 100%;
  text-align: center;
  margin-bottom: 5px;
  display: flex;
  display: -webkit-flex;
  flex-flow: row;
}
.CardBodySlide p {
  color: #A6A37B;
}
@media (max-width: 576px) {
  .CardBodySlide {
    flex-flow: column;
    display: block;
    background-color: #465259;
  }
}
@media (max-width: 768px) {
  .CardBodySlide {
    flex-flow: column;
    display: block;
    background-color: #465259;
  }
}

.CardHeader {
  width: 100%;
  align-items: center;
  justify-content: center;
  font-size: 1.5em;
  background-color: #465259;
  border-radius: 10px 10px 0px 0px;
}

.CardImage {
  margin: 5px;
  padding: 5px;
  border-radius: 7px;
  flex: 1 6 30%;
  order: 0;
}
.CardImage img {
  border-radius: 10px;
  width: 100%;
  -o-object-fit: cover;
     object-fit: cover;
  margin: 0 auto;
  height: 150px;
}
@media (max-height: 768px) {
  .CardImage img {
    max-height: 150px;
  }
}
@media (max-width: 576px) {
  .CardImage img {
    max-height: 100px;
  }
}
@media (max-width: 768px) {
  .CardImage img {
    max-height: 100px;
  }
}

.CardPrice {
  text-align: center;
  align-items: center;
  display: flex;
  justify-content: center;
  flex-direction: column wrap;
  align-items: center;
  flex: 1 1 100%;
}
.CardPrice span {
  color: #A6A37B;
}

.CardButton {
  width: 100%;
  text-align: center;
  align-items: center;
  display: flex;
  justify-content: center;
  margin-bottom: 10px;
  flex-direction: column wrap;
  align-items: center;
  border-radius: 5px;
  max-height: 40px;
  flex: 1 1 100%;
  background-color: #465259a3;
}

.Menu {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0 20px;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  z-index: 10;
  position: relative;
  height: 10vh;
  background: url(./images/header.jpg);
}

.RightMenu {
  display: flex;
  align-items: center;
  flex-direction: row;
  text-transform: uppercase;
  height: 6vh;
}
.RightMenu div {
  font-size: 1.2rem;
  padding: 0 20px;
  cursor: pointer;
  text-transform: uppercase;
  align-items: center;
}
@media (max-width: 768px) {
  .RightMenu div {
    font-size: 0.8rem;
    padding: 0 10px;
  }
}
@media (max-width: 1000px) {
  .RightMenu div {
    font-size: 0.8rem;
    padding: 0 10px;
  }
}

.MidMenu {
  align-items: center;
  display: flex;
  text-transform: uppercase;
  flex-direction: row;
  height: 6vh;
}
.MidMenu div {
  font-size: 1.2rem;
  padding: 0 10px;
  cursor: pointer;
  margin-right: 2px;
}
@media (max-width: 768px) {
  .MidMenu {
    display: none;
  }
}
@media (max-width: 1000px) {
  .MidMenu div {
    font-size: 0.8rem;
    padding: 0 5px;
  }
}

.MenuIconContainer {
  display: flex;
  align-items: center;
  cursor: pointer;
}

.CloseContainer {
  display: flex;
  justify-content: flex-end;
  cursor: pointer;
}

/* const Close=styled(HighlightOffIcon)` cursor: pointer;
` */
/* Color Theme Swatches in Hex */
.ButtonGroup {
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 100%;
}

.ButtonSuccess {
  color: #A6A37B;
}

.ButtonReset {
  color: #6D7E8C;
}

.ButtonRegular {
  color: #313C40;
}

.Button {
  background-color: transparent;
  border-radius: 5px;
  border: none;
  height: 25px;
  width: 25px;
  padding: 0px;
  margin: 2px;
}
.Button:hover {
  color: white;
  cursor: pointer;
}

.Badge {
  color: #A6A37B;
  border-radius: 5px;
  padding: 5px;
  margin: 5px;
  width: 100%;
}
.Badge:hover {
  background-color: #313C40a3;
  color: white;
}

* {
  margin: 0;
  padding: 1;
  text-decoration: none;
  list-style: none;
  font-family: sans-serif;
}

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen", "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue", sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: #a6a37b;
}

code {
  font-family: "source-code-pro", "Menlo", "Monaco", "Consolas", "Courier New", monospace;
}

.App {
  text-align: center;
  background-color: #A6A37B;
  width: 100%;
  border-radius: 0px;
  height: 100vh;
}

a,
h1 {
  color: #A6A37B;
}

p {
  text-align: justify;
  padding: 5px;
  width: 90%;
  margin: 0 auto;
}
@media (max-width: 576px) {
  p {
    color: #313C40;
  }
}
@media (max-width: 768px) {
  p {
    color: #313C40;
  }
}

.container {
  display: flex;
  flex-flow: row wrap;
  align-items: flex-start;
  justify-content: center;
  width: 100%;
  height: 100%;
}

.container1 {
  height: 25vh;
}
@media (max-width: 576px) {
  .container1 {
    height: 35vh;
  }
}
@media (max-width: 768px) {
  .container1 {
    height: 35vh;
  }
}

.container2 {
  height: 12vh;
}

@media (max-width: 576px) {
  .container3 {
    height: 40vh;
  }
}
@media (max-width: 768px) {
  .container3 {
    height: 40vh;
  }
}

.container > * {
  padding: 10px;
  flex: 1 100%;
  text-align: center;
}

.main {
  width: 97%;
  margin: auto;
  flex-direction: row;
  min-height: 60px;
  justify-content: center;
  padding: 10px;
  position: relative;
  display: flex;
  margin: auto;
}

.main2 {
  display: flex;
  flex-flow: row;
  width: 100%;
  flex-direction: row wrap;
  align-items: flex-start;
  justify-content: center;
  position: absolute;
}
@media (max-width: 576px) {
  .main2 {
    padding: 0px;
  }
}
@media (max-width: 768px) {
  .main2 {
    padding: 0px;
  }
}

h1 {
  font-size: 1.6rem;
  color: #F2F2F2;
  text-shadow: 2px 2px 1px #000;
}

h2 {
  font-size: 1.4rem;
  color: #F2F2F2;
  text-shadow: 2px 2px 1px #000;
}

.fondo1 {
  background-image: url(./images/background1.jpg);
  animation: fondoAnimado 24s ease-in-out 18s infinite;
  -moz-animation: fondoAnimado 24s ease-in-out 18s infinite;
  -webkit-animation: fondoAnimado 24s ease-in-out 18s infinite;
  background-size: cover;
  background-position: center;
  background-repeat: repeat;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  height: 100vh;
  border-radius: 0px;
}
@media (max-width: 576px) {
  .fondo1 {
    display: none;
  }
}
@media (max-width: 768px) {
  .fondo1 {
    display: none;
  }
}

.fondo2 {
  background-image: url(./images/background2.jpg);
  animation: fondoAnimado 24s ease-in-out 12s infinite;
  -moz-animation: fondoAnimado 24s ease-in-out 12s infinite;
  -webkit-animation: fondoAnimado 24s ease-in-out 12s infinite;
  background-size: cover;
  background-position: center;
  background-repeat: repeat;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  height: 100vh;
  border-radius: 0px;
}
@media (max-width: 576px) {
  .fondo2 {
    display: none;
  }
}
@media (max-width: 768px) {
  .fondo2 {
    display: none;
  }
}

.fondo3 {
  background-image: url(./images/background3.jpg);
  animation: fondoAnimado 24s ease-in-out 6s infinite;
  -moz-animation: fondoAnimado 24s ease-in-out 6s infinite;
  -webkit-animation: fondoAnimado 24s ease-in-out 6s infinite;
  background-size: cover;
  background-position: center;
  background-repeat: repeat;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  height: 100vh;
  border-radius: 0px;
}
@media (max-width: 576px) {
  .fondo3 {
    display: none;
  }
}
@media (max-width: 768px) {
  .fondo3 {
    display: none;
  }
}

.fondo4 {
  background-image: url(./images/background4.jpg);
  animation: fondoAnimado 24s ease-in-out 0s infinite;
  -moz-animation: fondoAnimado 24s ease-in-out 0s infinite;
  -webkit-animation: fondoAnimado 24s ease-in-out 0s infinite;
  background-size: cover;
  background-position: center;
  background-repeat: repeat;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  height: 100vh;
  border-radius: 0px;
}
@media (max-width: 576px) {
  .fondo4 {
    display: none;
  }
}
@media (max-width: 768px) {
  .fondo4 {
    display: none;
  }
}

.Title {
  position: relative;
  width: 100%;
  border-radius: 10px;
  height: 4vh;
  background-color: #313C40a3;
  opacity: 0.7;
  display: flex;
  align-items: center;
  justify-content: center;
  color: #F2F2F2;
}
@media (max-height: 768px) {
  .Title {
    max-height: 3vh;
  }
  .Title h1 {
    font-size: 1.3rem;
    font-weight: bold;
  }
}
.Title h1 {
  font-size: 1.5rem;
  font-weight: bold;
}

.ModuleContainer {
  width: 100%;
  height: 87vh;
  position: relative;
  background-color: #6d7e8ca3;
  border-radius: 10px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
}
@media (max-width: 576px) {
  .ModuleContainer {
    border: none;
    padding: 0;
  }
}
@media (max-width: 768px) {
  .ModuleContainer {
    border: none;
    padding: 0;
  }
}/*# sourceMappingURL=App.css.map */