@import "./scss/variables";
@import './scss/animations';
@import './scss/mixins';
@import './scss/products';
@import './scss/menu';
@import './scss/buttons';

* {
  margin: 0;
  padding: 1;
  text-decoration: none;
  list-style: none;
  font-family: sans-serif;
}

body {
  margin: 0;
  font-family: $text-font-family;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: #a6a37b;
}

code {
  font-family: $code-font-family;
}

.App {
  text-align: center;
  background-color: $background-color;
  width: 100%;
  border-radius: 0px;
  height: 100vh;
}

a,
h1 {
  color: $color-5;
}

p {
  text-align: justify;
  padding: 5px;
  width: 90%;
  margin: 0 auto;

  @include mobile {
    color: $color-4;
  }

  @include tablet {
    color: $color-4;
  }

}

.container {
  display: flex;
  flex-flow: row wrap;
  align-items: flex-start;
  justify-content: center;
  width: 100%;
  height: 100%;
}

.container1 {
  height: 25vh;

  @include mobile {
    height: 35vh;
  }

  @include tablet {
    height: 35vh;
  }
}

.container2 {
  height: 12vh;
}

.container3 {

  @include mobile {
    height: 40vh;
  }

  @include tablet {
    height: 40vh;
  }
}

.container>* {
  padding: 10px;
  flex: 1 100%;
  text-align: center;
}

.main {
  width: 97%;
  margin: auto;
  flex-direction: row;
  min-height: 60px;
  justify-content: center;
  padding: 10px;
  position: relative;
  display: flex;
  margin: auto;
}

.main2 {
  display: flex;
  flex-flow: row;
  width: 100%;
  flex-direction: row wrap;
  align-items: flex-start;
  justify-content: center;
  position: absolute;

  @include mobile {
    padding: 0px;
  }

  @include tablet {
    padding: 0px;
  }

}

h1 {
  font-size: 1.6rem;
  color: $color-6;
  text-shadow: 2px 2px 1px #000;
}

h2 {
  font-size: 1.4rem;
  color: $color-6;
  text-shadow: 2px 2px 1px #000;
}

.fondo1 {
  @include fondo(url(#{$imagesPath}background1.jpg), 18s);
}

.fondo2 {
  @include fondo(url(#{$imagesPath}background2.jpg), 12s);
}

.fondo3 {
  @include fondo(url(#{$imagesPath}background3.jpg), 6s);
}

.fondo4 {
  @include fondo(url(#{$imagesPath}background4.jpg), 0s);
}

.Title {
  position: relative;
  width: 100%;
  border-radius: 10px;
  height: 4vh;
  background-color: $color-4-70;
  opacity: 0.7;
  display: flex;
  align-items: center;
  justify-content: center;
  color: $color-6;

  @media (max-height: 768px) {
    max-height: 3vh;

    h1 {
      font-size: 1.3rem;
      font-weight: bold;
    }
  }

  h1 {
    font-size: 1.5rem;
    font-weight: bold;
  }
}

.ModuleContainer {
  width: 100%;
  height: 87vh;
  position: relative;
  background-color: $color-1-70;
  border-radius: 10px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;

  @include mobile {
    border: none;
    padding: 0;
  }

  @include tablet {
    border: none;
    padding: 0;
  }

}