/*-- FONDO ANIMADO--*/
@keyframes fondoAnimado {
    0% {
        opacity: 1;
    }

    20% {
        opacity: 1;
    }

    30% {
        opacity: 0%;
    }

    90% {
        opacity: 0%;
    }

    100% {
        opacity: 1;
    }
}