@import "./variables";

.ButtonGroup {
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 100%;
}

.ButtonSuccess {
    color: $color-5;
}

.ButtonReset {
    color: $color-1;
}

.ButtonRegular {
    color: $color-4;
}

.Button {
    background-color: transparent;
    border-radius: 5px;
    border: none;
    height: 25px;
    width: 25px;
    padding: 0px;
    margin: 2px;

    &:hover {
        color: white;
        cursor: pointer;
    }
}

.Badge {
    color: $color-5;
    border-radius: 5px;
    padding: 5px;
    margin: 5px;
    width: 100%;

    &:hover {
        background-color: $color-4-70;
        color: white;
    }
}