.Menu {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 20px;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    z-index: 10;
    position: relative;
    height: 10vh;
    background: url(#{$imagesPath}header.jpg);
}

.RightMenu {
    display: flex;
    align-items: center;
    flex-direction: row;
    text-transform: uppercase;
    height: 6vh;

    div {
        font-size: 1.2rem;
        padding: 0 20px;
        cursor: pointer;
        text-transform: uppercase;
        align-items: center;
    }

    @media (max-width: 768px) {
        div {
            font-size: 0.8rem;
            padding: 0 10px;
        }

    }

    @media (max-width: 1000px) {
        div {
            font-size: 0.8rem;
            padding: 0 10px;
        }
    }
}

.MidMenu {
    align-items: center;
    display: flex;
    text-transform: uppercase;
    flex-direction: row;
    height: 6vh;

    div {
        font-size: 1.2rem;
        padding: 0 10px;
        cursor: pointer;
        margin-right: 2px;
    }

    @media (max-width: 768px) {
        display: none;
    }

    @media (max-width: 1000px) {
        div {
            font-size: 0.8rem;
            padding: 0 5px;
        }
    }
}

.MenuIconContainer {
    display: flex;
    align-items: center;
    cursor: pointer;
}


.CloseContainer {
    display: flex;
    justify-content: flex-end;
    cursor: pointer;
}

/* const Close=styled(HighlightOffIcon)` cursor: pointer;
` */