@import "./variables";

@mixin flexCenter($direction) {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: $direction;
}

@mixin theme($light: true) {
    @if $light {
        background-color: lighten($color-1, 100%);
        background-color: lighten($color-2, 100%);
        background-color: lighten($color-3, 100%);
        background-color: lighten($color-4, 100%);
        background-color: darken($color-5, 100%);
    }
}

@mixin mobile {
    @media (max-width: $mobile) {
        @content;
    }
}

@mixin tablet {
    @media (max-width: $tablet) {
        @content;
    }
}

@mixin wide {
    @media (min-width: $wide-screen) {
        @content;
    }
}

@mixin fondo($img, $animation) {
    background-image: $img;
    animation: fondoAnimado 24s ease-in-out $animation infinite;
    -moz-animation: fondoAnimado 24s ease-in-out $animation infinite;
    -webkit-animation: fondoAnimado 24s ease-in-out $animation infinite;
    background-size: cover;
    background-position: center;
    background-repeat: repeat;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    height: 100vh;
    border-radius: 0px;

    @include mobile {
        display: none;
    }

    @include tablet {
        display: none;
    }
}

@mixin transition-ease {
    transition: all 0.5s ease-in-out;
}