@import "./variables";

.ProductList {
    position: relative;
    margin-top: 10px;
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;

    @include mobile {
        align-items: center;
    }

    @include tablet {
        align-items: center;
    }
}

.ProductSlider {
    position: relative;
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: flex-start;

    @include mobile {
        align-items: center;
    }

    @include tablet {
        align-items: center;
    }

}

/* .Slide {
    position: relative;
    left: 0;
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    opacity: 0;

    @media (max-width: 768px) {
        top: 1 vh;
    }
} */
.ProductList {
    width: 100%;
    height: 88%;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-flow: row wrap;
    overflow-x: auto;

}

.SearchBar {
    position: relative;
    border-radius: 5%;
    margin-top: 5px;
    margin-bottom: 5px;
    z-index: 2;
    width: 100%;

    h1 {
        font-size: 1.5em;
        text-align: center;
        color: $color-6;
        padding: 10px;
    }

    input {
        width: 98%;
        height: 2vh;
        background-color: rgba(13, 38, 29, 0.4);
        color: #fff;
        padding-left: 5px;
        outline: none;
        border-radius: 5px;

        &::placeholder {
            color: #fff;
            text-align: center;
        }
    }
}

.slide {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    opacity: 0;
}

.slide.active {
    opacity: 1;
    @include transition-ease;
}

.Card {
    width: 90%;
    margin-top: 10px;
    margin-bottom: 10px;
    border-radius: 10px;
    box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 0.75);
    align-items: center;
    justify-content: space-evenly;
    background-color: $color-4-70;
    position: relative;

    @include mobile {
        flex-flow: column;
        /* display: box; */
    }

    @include tablet {
        flex-flow: column;
        /* display: box; */
    }

    @media (max-height: 700px) {
        min-height: 58vh;
    }
}

.CardSmall {
    height: 350px;
    width: 400px;
    margin: 10px;
    border-radius: 10px;
    background-color: $color-4-70;
    border: none;
    box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 0.75);
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;

    div {
        display: flex;
        flex-basis: calc(33.33% - 10px);
        justify-content: center;
        flex-direction: column;
        text-align: center;
        align-items: center;
    }

    div:first-child {
        display: flex;
        flex-basis: calc(100% - 1px);
        justify-content: center;
        flex-direction: column;
    }

    div>div {
        display: flex;
        justify-content: center;
        flex-direction: row;
    }
}

.Card2Small {
    height: 350px;
    width: 400px;
}

.Card2Medium {
    height: 350px;
    width: 600px;
}

.Card2 {
    height: 350px;
    margin: 10px;
    border-radius: 10px;
    background-color: $color-4-70;
    border: none;
    box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 0.75);
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;

    div {
        display: flex;
        flex-basis: calc(33.33% - 10px);
        justify-content: center;
        flex-direction: column;
        text-align: center;
        align-items: center;
    }

    div:first-child {
        display: flex;
        flex-basis: calc(100% - 1px);
        justify-content: center;
        flex-direction: column;
    }

    div>div {
        display: flex;
        justify-content: center;
        flex-direction: row;
    }
}

.CardBody {
    height: auto;
    flex-direction: column;
    flex: 1 6 80%;
    margin: 5px;

    p {
        color: $color-2-70;
    }

    span {
        color: $color-5;
    }

    @include mobile {
        flex-flow: column;
        display: block;
        background-color: $color-4;
    }

    @include tablet {
        flex-flow: column;
        display: block;
        background-color: $color-4;
    }
}

.CardBodySlide {
    width: 100%;
    text-align: center;
    margin-bottom: 5px;
    display: flex;
    display: -webkit-flex;
    flex-flow: row;

    p {
        color: $color-5;
    }

    @include mobile {
        flex-flow: column;
        display: block;
        background-color: $color-3;
    }

    @include tablet {
        flex-flow: column;
        display: block;
        background-color: $color-3;
    }
}

.CardHeader {
    width: 100%;
    align-items: center;
    justify-content: center;
    font-size: 1.5em;
    background-color: $color-3;
    border-radius: 10px 10px 0px 0px;
}

.CardImage {
    margin: 5px;
    padding: 5px;
    border-radius: 7px;
    flex: 1 6 30%;
    order: 0;

    img {
        border-radius: 10px;
        width: 100%;
        object-fit: cover;
        margin: 0 auto;
        height: 150px;

        @media (max-height: 768px) {
            max-height: 150px;
        }

        @include mobile {
            max-height: 100px
        }

        @include tablet {
            max-height: 100px
        }

    }
}

.CardPrice {
    text-align: center;
    align-items: center;
    display: flex;
    justify-content: center;
    flex-direction: column wrap;
    align-items: center;
    flex: 1 1 100%;

    span {
        color: $color-5;
    }
}

.CardButton {
    width: 100%;
    text-align: center;
    align-items: center;
    display: flex;
    justify-content: center;
    margin-bottom: 10px;
    flex-direction: column wrap;
    align-items: center;
    border-radius: 5px;
    max-height: 40px;
    flex: 1 1 100%;
    background-color: $color-3-70;
}