/* Color Theme Swatches in Hex */
$color-1: #6D7E8C;
$color-2: #080B0D;
$color-3: #465259;
$color-4: #313C40;
$color-5: #A6A37B;
$color-6: #F2F2F2;

$color-1-70: #6d7e8ca3;
$color-2-70: #080b0da3;
$color-3-70: #465259a3;
$color-4-70: #313C40a3;
$color-5-70: #A6A37Ba3;
$color-6-70: #F2F2F2a3;

$background-color: $color-5;
$btn-primary: $color-5;
$btn-secondary: $color-1;
$btn-success: $color-3;

$imagesPath: "./images/";

$mobile: "576px";
$tablet: "768px";
$wide-screen: "1200px";

$text-font-family: -apple-system,
BlinkMacSystemFont,
"Segoe UI",
"Roboto",
"Oxygen",
"Ubuntu",
"Cantarell",
"Fira Sans",
"Droid Sans",
"Helvetica Neue",
sans-serif;

$code-font-family: "source-code-pro",
"Menlo",
"Monaco",
"Consolas",
"Courier New",
monospace;